.contacts-main-info {
	padding-bottom: 70px;
	.section-heading {
		margin-bottom: 30px;
	}
	.onicon-heading {
		margin-bottom: 20px;
	}
}

.small-heading {
	font-size: 18px;
	color: rgb(20, 20, 20);
	font-weight: bold;
	line-height: 1.333;
}

.contacts-list {
	display: flex;
	flex-direction: column;
	&__item {
		display: flex;
		align-items: center;
		font-size: 16px;
		color: rgb(20, 20, 20);
		line-height: 1.2;
		margin: 2px 0;
		.link {
			font-size: 16px;
			line-height: 1.2;
		}
	}
}


.checkbox-item {
	.input {
		display: none;
		visibility: hidden;
		&:checked + label {
			.icon {
				font-size: 12px;
				background: var(--main-color);
			}
		}
	}
	.label {
		display: flex;
		align-items: center;
		cursor: pointer;
		.icon {
			&:before {
				content: '\f00c';
				font-family: 'fontawesome';	
			}
			content: '';
			display: flex;
			justify-content: center;
			align-items: center;
			width: 19px;
			height: 19px;
			font-size: 0;
			color: #000;
			border-radius: 4px;
			border: 1px solid var(--main-color);
			flex: 0 0 auto;
			margin-right: 10px;
		}
		.text {
			font-size: 14px;
			color: rgb(148, 148, 148);
			line-height: 1.3;			
		}
	}
}

.contacts-form {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 100%;
	&__item {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}
	.submit-item {
		flex-direction: row;
		align-items: center;
		margin-top: 15px;
		margin-bottom: 0;
	}
}


// contacts-map 
.contacts-map {
	background: #f6f6f6;
	padding: 70px 0;
	.section-heading {
		margin-bottom: 30px;
	}
	.infobox-card {
		background: #efe7e5;
		margin: 20px 0;
	}
}

.contacts-map-body {
	border-radius: 10px;
	overflow: hidden;
	height: 450px;
	iframe {
		width: 100%;
		height: 100%;
	}
}

.contacts-how-to {
	padding: 70px 0;	
	.section-heading {
		margin-bottom: 30px;
	}
}

// contacts-rekvizit

.contacts-rekvizit {
	padding: 70px 0;
	.section-heading {
		margin-bottom: 20px;
	}
	.heading-description {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		.text {
			margin-bottom: 0;
			margin-right: 5px;
			font-size: 16px;
		}
		.link {
			font-size: 16px;
		}
	}
}