* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: #{$fontSize + px};
}

body {
	line-height: 1.3;
	font-family: $fontFamily;
	color: var(--text-color);
}
input,
button,
textarea {
	font-family: $fontFamily;
	font-size: inherit;
	resize: none;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
	background-color: inherit;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input, textarea {
	background: #FFFFFF;
	border: 1px solid #e6e6e6;
	padding: 12px 20px;
	max-width: 100%;
	transition: all .3s ease;
	border-radius: 4px;
	&:focus {
		border-color: var(--main-color);
	}
}