.reviews-box {
	padding: 70px 0;
	.section-heading {
		margin-bottom: 30px;
	}
	.second-btn {
		margin-left: 110px;
	}
}

.foto-reviews {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	margin-top: 40px;
	&__heading {
		font-size: 16px;
		color: rgb(130, 130, 130);
		line-height: 1.875;
		text-align: left;
	}
	&__list {
		padding: 40px 30px;
		border: 1px solid #e6e6e6;
		display: flex;
		border-radius: 10px;
		.item {
			height: 172px;
			overflow: hidden;
			border-radius: 10px;
			display: flex;
			margin: 0 5px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.slick-arrow.slick-disabled {
		opacity: 0.2;
		touch-action: none;
		pointer-events: none;
	}
	.slick-list {
		flex: 1 1 auto;
	}
}


// reviews-box-filters

.reviews-box-filters {
	display: flex;
	align-items: center;
	margin: 30px 0;
	&__heading {
		margin-bottom: 0;
		margin-right: 10px;
		font-size: 16px;
		color: rgb(0, 0, 0);
		font-weight: bold;
		line-height: 2.125;
		text-align: left;
	}
	.dropdown-toggle {
		border: 1px solid #e6e6e6;
		padding: 8px 80px 8px 20px;
		border-radius: 4px;
		position: relative;
		height: 40px;
		min-width: 260px;
		text-align: left;
		&:after {
			display: none;
		}
		&:before {
			content: '\f107';
			font-family: 'fontawesome';
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			right: -1px;
			top: -1px;
			background: #f5f5f5;
			border: 1px solid #e6e6e6;
		}
		&.show {
			&:before {
				transform: rotate(180deg);
			}
		}
	}
	.dropdown-menu {
		width: 100%;
	}
	&__checkbox {
		display: flex;
		align-items: center;
		margin-left: 30px;
		.label {
			font-size: 16px;
			color: rgb(0, 0, 0);
			line-height: 1.875;
			text-align: left;
			position: relative;
			display: flex;
			align-items: center;
			cursor: pointer;
			&:before {
				content: '\f00c';
				font-family: 'fontawesome';
				width: 20px;
				height: 20px;
				border-radius: 5px;
				border: 1px solid #dfdfdf;
				flex: 0 0 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: var(--main-color);
				font-size: 0;
				margin-right: 10px;
			}
		}
		.input {
			display: none;
			visibility: hidden;
			&:checked + label {
				&:before {
					font-size: 12px;
					border-color: var(--main-color);
				}
			}
		}
	}
}


// reviews-cards
.reviews-cards {
	display: flex;
	flex-direction: column;
	&__item {
		display: flex;
		margin-bottom: 50px;
		.user-avatar {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 250px;
			width: 80px;
			height: 80px;
			overflow: hidden;
			flex: 0 0 auto;
			margin-right: 30px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.review-content {
			display: flex;
			flex-direction: column;
		}
		.review-info {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}
		.user-name {
			font-size: 16px;
			color: rgb(0, 0, 0);
			font-weight: bold;
			text-align: left;		
			margin-right: 20px;
		}
		.publication-date {
			font-size: 16px;
			color: rgb(130, 130, 130);
			text-align: left;		
		}
		.product-reviews {
			margin-bottom: 30px;
		}
		.review-card-photo {
			display: flex;
			margin-top: 20px;
			&__item {
				width: 100px;
				height: 120px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				overflow: hidden;
				margin: 0 5px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.review-card-btns {
			display: flex;
			margin-top: 20px;
			&__item {
				display: flex;
				align-items: center;
				margin-right: 20px;
				.btn {
					padding: 0;
					width: 30px;
					height: 30px;
					font-size: 25px;
					color: #e2e2e2;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 5px;
					&:hover {
						color: var(--main-color);
					}
				}
				.text {
					font-size: 16px;
					color: rgb(0, 0, 0);
					line-height: 1.875;
					text-align: left;					
				}
				.dislike {
					padding-top: 5px;
				}
			}
		}
		.review-text {
			max-width: 95%;
		}
	}
}

// review-main-infobox
.review-main-infobox {
	padding: 40px;
	background: #f4f4f4;
	border-radius: 10px;
	display: flex;
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		.review-balls {
			font-size: 72px;
			color: rgb(20, 20, 20);
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1.2;		
			margin-bottom: 10px;	
		}
		.description {
			font-size: 16px;
			color: rgb(130, 130, 130);
			line-height: 1.5;
			text-align: center;
			margin-bottom: 10px;
		}
	}
	&__list {
		display: flex;
		flex: 1 1 auto;
	}
}

.percents-list {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	margin: 0;
	&__item {
		display: flex;
		align-items: center;
		font-size: 16px;
		color: rgb(130, 130, 130);
		line-height: 1.5;
		text-align: center;	
		margin-bottom: 14px;
		&:last-child {
			margin-bottom: 0;
		}
		.percent-toggler {
			position: relative;
			display: flex;
			flex: 1 1 auto;
			height: 2px;
			background: #c6c6c6;
			margin: 0 10px;
			&__yellow {
				background: var(--main-color);
				height: 2px;
				position: absolute;
				top: 0;
				bottom: 0;
			}
		}
		.percent {
			width: 35px;
			flex: 0 0 auto;
			display: flex;
			justify-content: flex-start;
		}
	}
}